.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-image: url("../../ui/img/poster2.jpg");
  background-size: cover, cover;
  background-position: center, center;
}

.registrationForm h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.registrationForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationFormInputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.registrationFormInputs label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.registrationFormInputs input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

button[type="submit"] {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
} 
.errorMessage {
  color: red;
  margin-bottom: 10px;
} 