._authForm h1 { 
  color: red;
}
.authFormLogin{  
    padding: 12px 20px 12px 20px;
    text-align: center;
    color: #b1b1b7;  
    border: 1px solid gray;
}
.authFormPassw{ 
    padding: 12px 20px 12px 20px;
    text-align: center;
    color: #b1b1b7;
    border: 1px solid gray;
}
.authFormEntr {
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    border: 1px solid red;
    text-align: center;
    color: white;
    background: red;    
}

._authForm{
    display: flex;    
    background-color: #ffffff;
    width: min-content;
    width: 700px;
}

.authFormLeftMenu{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.authFormLeftMenu>*{
    margin-top: 20px;
}
.authFormLeftMenu>*:last-child{
    margin-bottom: 20px;
}

.authFormRightMenu{
    width: 500px;
    background: url('../../ui/img/poster3.jpg') 0 0/100% 100% no-repeat;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}   

.authInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authInfo>*{
    width: 200px;
    margin-top: 20px;
}

.authFormRightMenu h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: red;
}

.authFormRightMenu p {
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    text-align: center;
    color: white;
}
.authFormRightMenu a {
    padding: 12px 20px 12px 20px;
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
  }

  .errorMessage {
    color: red;
    margin-bottom: 10px;
  } 