
._inputSearch {
    background-color: white;
    color: gray;
    border-radius: 15px;
    padding: 7px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inputSearch {
    color: gray;
    background-color: transparent;
    outline: none;
    min-width: 210px;
    border: none;
}

.imgSearch {  
    width: 20px;
    display: flex;

}
