
.header{
    background-color: red;
    display: flex;
    justify-content:center;
    padding: 20px 20px;
    align-items:center;
}

.header>*{
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.header>*:last-child{
    margin-right: 30px;
}
.header>*:hover{    
    color: aqua;
}
.logo { 
    width: 80px;
}